1 Scrivere un programma che permetta di convertire un peso da kg in libbre. L’utente inserisce il peso in kg e il programma calcola il peso corrispondente nell’altra unità di misura.

In [ ]:
kg = float(input("Scrivi il peso in kg "))
libbre = kg * 2.20462
print(libbre)

Scrivi il peso in kg 54
119.04947999999999

2 Scrivere un programma che permetta di verificare se un indirizzo mail contiene il carattere @. L’utente inserisce l’indirizzo e il programma restituisce il messaggio “indirizzo corretto” se il carattere è presente” o “indirizzo errato” se il carattere non è presente. Il carattere @ non può essere presente in prima o ultima posizione.

In [ ]:
email = input("Inserisci l'indirizzo email ")
if "@" in email[1:-1]:
  print("Email corretta")
else:
  print("Email sbagliata")

Inserisci l'indirizzo email matteo@ok
Email corretta

3 Scrivere un programma che visualizzi l’inverso dei primi n numeri interi con n inserito dall’utente. Per esempio, se l’utente inserisse il valore 4 il programma dovrebbe visualizzare i valori 1 (1:1), 0,5 (1:2), 0,33333 (1:3) e 0.25 (1:4). Separare i valori visualizzati con una virgola.

In [ ]:
n = int(input(""))
lst = []
for i in range(1,n+1): 
  lst.append(1/i)
print(lst)

5
[1.0, 0.5, 0.3333333333333333, 0.25, 0.2]

4 scrivere un programma che carichi in una lista i primi 100 numeri interi dispari. Al termine visualizzare gli ultimi 10 numeri della lista.

In [ ]:
lst = [i for i in range(0,200) if i%2 != 0 ]
print(lst[-10:])

[181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

5 scrivere un programma che elimini dalla lista precedente gli ultimi 10 elementi. Visualizzare al termine la lista modificata.

In [ ]:

del lst[-10:]
print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179]

6 scrivere una funzione che data una lista formata da un numero pari di elementi restituisca la lista con gli elementi scambiati a due a due. Ad esempio se la lista di partenza fosse [1, 2, 3, 4, 5, 6] la lista da restituire sarebbe [2, 1, 4, 3, 6, 5]

In [ ]:
lst = [0,2,4,6,8,10]

def scambio(lista):
  x = lista[:]
  for i in range(0,len(lst),2):
    x[i] = lista[i+1]
    x[i+1] = lista[i]

  return x
  
print(lst)
scambio(lst)

[0, 2, 4, 6, 8, 10]

[2, 0, 6, 4, 10, 8]

7 scrivere un programma che permetta di caricare in una struttura dati opportuna i nomi delle regioni italiane, i loro capoluoghi e la popolazione (inserire solo tre regioni). Visualizzare poi i dati di una regione inserita dall’utente

In [ ]:
regioni = [{"nome" : "Lombardia", "capoluogo" : "Milano", "popolazione" : 10},{"nome" : "Lazio", "capoluogo" : "Roma", "popolazione" : 8},{"nome" : "Toscana", "capluogo" : "Firenze", "popolazione" : 3}]
nome = input("Scrivi nome regione ")

for i in regioni:
  if i["nome"] == nome:
    print(i["capoluogo"],i["popolazione"])

Scrivi nome regione Lombardia
Milano 10

8 scrivere un programma che, utilizzando una lambda function e la funzione filter, elimini da una lista inserita dall’utente tutti gli elementi dispari. Al termine, visualizzare la lista modificata

In [ ]:
lista = [int(s) for s in input("").split()]
print(lista)
lista = list(filter(lambda x: x%2 == 0, lista))
print(lista)

1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

9 scrivere una funzione che, in modo ricorsivo, calcoli la somma dei primi n numeri interi, con n inserito dall’utente. Ad esempio se l’utente inserisse 5 il programma dovrebbe restituire il valore 15 (5+4+3+2+1=15)

In [ ]:
def somma(n):
  if n == 1:
    return 1 
  else:
    return n + somma(n-1)
somma(int(input("")))

5

15