1. caricare i dati in un dataframe e studiare le informazioni inserite per capire di che cosa si tratta

In [ ]:
import pandas as pd 
url ="https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv"
df = pd.read_csv(url)
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

2. visualizzare solo la prima colonna

In [ ]:
df.iloc[:,0]

0       BASTIONI DI PORTA VOLTA 7
1     CORSO DI PORTA VIGENTINA 35
2                  CORSO ITALI 16
3               CORSO SEMPIONE 94
4                CORSO VENEZIA 42
                 ...
77                VIALE GORIZIA 6
78         VIALE MONTE CENERI SNC
79            VIALE SABOTINO 21/A
80         VIALE SAN GIMIGNANO 10
81                 VIALE ZARA 131
Name: Indirizzo, Length: 82, dtype: object

3. visualizzare solo l'ultima colonna

In [ ]:
df.iloc[:,-1]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
81     (45.50019300000008;9.196686000000057)
Name: Location, Length: 82, dtype: object

4. visualizzare le colonne dalle terza alla quinta

In [ ]:
df.iloc[:,[3,4,5]]

      CAP  MUNICIPIO  ID_NIL
0   20121          1       2
1   20122          1       5
2   20122          1       1
3   20154          8      69
4   20121          1       4
..    ...        ...     ...
77  20144          6      44
78  20155          8      71
79  20135          5      27
80  20146          6      52
81  20159          9      12

[82 rows x 3 columns]

5. visualizzare la terza e la sesta colonna

In [ ]:
df.iloc[:,[3,6]]

      CAP                                  NIL
0   20121                                BRERA
1   20122     PORTA VIGENTINA - PORTA LODOVICA
2   20122                                DUOMO
3   20154                                SARPI
4   20121                            GUASTALLA
..    ...                                  ...
77  20144           PORTA TICINESE - CONCHETTA
78  20155  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                           PTA ROMANA
80  20146                           BANDE NERE
81  20159              MACIACHINI - MAGGIOLINA

[82 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [ ]:
df[["Indirizzo","MUNICIPIO"]]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

7. visualizzare la prima riga

In [ ]:
df.head(1)
df.iloc[0]

                   Indirizzo  ...                               Location
0  BASTIONI DI PORTA VOLTA 7  ...  (45.47960100000006;9.182151000000033)

[1 rows x 10 columns]

8. visualizzare l'ultima riga

In [ ]:
df.iloc[-1]
df.tail(1)

         Indirizzo  ...                               Location
81  VIALE ZARA 131  ...  (45.50019300000008;9.196686000000057)

[1 rows x 10 columns]

9. visualizzare la riga centrale

In [ ]:
df.iloc[40]

Indirizzo                             VIA GIUSEPPE PECCHIO 1
Telefono                                                 NaN
Fax                                                      NaN
CAP                                                    20131
MUNICIPIO                                                  3
ID_NIL                                                    21
NIL            BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE
LONG_X_4326                                          9.21586
LAT_Y_4326                                           45.4847
Location               (45.48473100000007;9.215860500000076)
Name: 40, dtype: object

10. visualizzare le righe 3, 4 e 12

In [ ]:
df.iloc[[2,3,11]]

                 Indirizzo  ...                               Location
2           CORSO ITALI 16  ...  (45.45789300000007;9.187470000000076)
3        CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
11  VIA ANDREA VOCHIERI 12  ...  (45.51414300000005;9.168682500000045)

[3 rows x 10 columns]

11. visualizzare le righe dalla decima alla quindicesima

In [ ]:
df.iloc[9:15]

                       Indirizzo  ...                                Location
9                  VIA ADELCHI 2  ...  (45.485437286000035;9.231767370000057)
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)

[6 rows x 10 columns]

12. visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [ ]:
df.loc[9:15,["Indirizzo","NIL"]]

                       Indirizzo                                                NIL
9                  VIA ADELCHI 2                                       CITTA' STUDI
10  VIA ALFREDO CAPPELLINI 17/19                   STAZIONE CENTRALE - PONTE SEVESO
11        VIA ANDREA VOCHIERI 12                                             AFFORI
12            VIA APPENNINI 77/A  Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13                 VIA ARQUA' 14                          LORETO - CASORETTO - NOLO
14        VIA BENOZZO GOZZOLI 51           BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA
15             VIA BOVISASCA 173                                          BOVISASCA

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [ ]:
df.loc[[2,4,11],["Telefono","Fax"]]

       Telefono          Fax
2     02-804336  02-86454450
4   02-76023056   02-7837251
11  02-66200116  02-66203094

14. visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [ ]:
df.iloc[2:10,1:5]

      Telefono          Fax    CAP  MUNICIPIO
2    02-804336  02-86454450  20122          1
3          NaN          NaN  20154          8
4  02-76023056   02-7837251  20121          1
5  02-47714011  02-47714047  20146          6
6  02-42255211  02-42255247  20146          6
7    02-325774   02-3271232  20148          8
8  02-37790911  02-37790947  20158          9
9   02-2665192  02-26680123  20131          3

15. visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [ ]:
df.loc[df["Indirizzo"].str.contains("PIAZZA NAPOLI"),"Telefono"]

6    02-42255211
Name: Telefono, dtype: object

16. visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [ ]:
df.loc[df["NIL"].str.contains("NIGUARDA"),["Indirizzo","Telefono"]]

                 Indirizzo     Telefono
60            VIA PONALE 6  02-66100185
76  VIALE GIOVANNI SUZZANI   02-6470400

17. visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

In [ ]:
df.loc[(df["MUNICIPIO"] == 1) | (df["MUNICIPIO"] == 2) | (df["MUNICIPIO"] == 3),["Indirizzo","Telefono"]]

                       Indirizzo     Telefono
0      BASTIONI DI PORTA VOLTA 7   02-6572655
1    CORSO DI PORTA VIGENTINA 35  02-58320771
2                 CORSO ITALI 16    02-804336
4               CORSO VENEZIA 42  02-76023056
9                  VIA ADELCHI 2   02-2665192
10  VIA ALFREDO CAPPELLINI 17/19   02-6773311
13                 VIA ARQUA' 14  02-26141687
16                VIA BRONZINO 7  02-29527423
21           VIA COMUNE ANTICO 1  02-67070525
22                VIA CORDUSIO 4  02-72482126
25              VIA DELL'ORSO 11  02-80277311
26          VIA DELLA MOSCOVA 30          NaN
27                 VIA DURAZZO 5  02-21040511
30      VIA FESTA DEL PERDONO 10  02-58207833
38        VIA GIOSUE' CARDUCCI 7  02-85917111
40        VIA GIUSEPPE PECCHIO 1          NaN
46      VIA LUIGI VARANINI 26/28  02-28181611
49       VIA MAZZINI GIUSEPPE 15  02-86396911
51                VIA MONDOVI' 2  02-26300993
55                 VIA ORTICA 19  02-70061332
59                VIA PINDARO 29          NaN
64        VIA ROSOLINO PILO 19/A   02-2046789
66                VIA SAMBUCO 15  02-89405932
67             VIA SAN MAMETE 16   02-2566786
68         VIA SAN SIMPLICIANO 5  02-86396811
69             VIA SANTA SOFIA 8  02-58318572
71       VIA SCIPIONE PIATTOLI 6  02-26112432
72                   VIA VIGNA 6  02-86396711
73         VIALE ANDREA DORIA 48   02-2047169
75     VIALE EVARISTO STEFINI 12  02-67361911

In [ ]:
df.loc[df["MUNICIPIO"].isin([1,2,3]),["Indirizzo","Telefono"]]

                       Indirizzo     Telefono
0      BASTIONI DI PORTA VOLTA 7   02-6572655
1    CORSO DI PORTA VIGENTINA 35  02-58320771
2                 CORSO ITALI 16    02-804336
4               CORSO VENEZIA 42  02-76023056
9                  VIA ADELCHI 2   02-2665192
10  VIA ALFREDO CAPPELLINI 17/19   02-6773311
13                 VIA ARQUA' 14  02-26141687
16                VIA BRONZINO 7  02-29527423
21           VIA COMUNE ANTICO 1  02-67070525
22                VIA CORDUSIO 4  02-72482126
25              VIA DELL'ORSO 11  02-80277311
26          VIA DELLA MOSCOVA 30          NaN
27                 VIA DURAZZO 5  02-21040511
30      VIA FESTA DEL PERDONO 10  02-58207833
38        VIA GIOSUE' CARDUCCI 7  02-85917111
40        VIA GIUSEPPE PECCHIO 1          NaN
46      VIA LUIGI VARANINI 26/28  02-28181611
49       VIA MAZZINI GIUSEPPE 15  02-86396911
51                VIA MONDOVI' 2  02-26300993
55                 VIA ORTICA 19  02-70061332
59                VIA PINDARO 29          NaN
64        VIA ROSOLINO PILO 19/A   02-2046789
66                VIA SAMBUCO 15  02-89405932
67             VIA SAN MAMETE 16   02-2566786
68         VIA SAN SIMPLICIANO 5  02-86396811
69             VIA SANTA SOFIA 8  02-58318572
71       VIA SCIPIONE PIATTOLI 6  02-26112432
72                   VIA VIGNA 6  02-86396711
73         VIALE ANDREA DORIA 48   02-2047169
75     VIALE EVARISTO STEFINI 12  02-67361911

18. visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [ ]:
df.loc[(df["Fax"].isnull()) | (df["Telefono"].isnull()),"Indirizzo"]

3           CORSO SEMPIONE 94
26       VIA DELLA MOSCOVA 30
31    VIA FILIPPO SASSETTI 27
40     VIA GIUSEPPE PECCHIO 1
59             VIA PINDARO 29
Name: Indirizzo, dtype: object

19. visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL)

In [ ]:
df.groupby("NIL")["Indirizzo"].count()

NIL
ADRIANO                                                        1
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
BANDE NERE                                                     1
BOVISASCA                                                      1
BRERA                                                          4
BRUZZANO                                                       1
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
CITTA' STUDI                                                   1
CORSICA                                                        1
DE ANGELI - MONTE ROSA                                         1
DERGANO                                                        1
DUOMO                                                          7
FARINI                                                         1
FORZE ARMATE                                                   2
GIAMBELLINO                                                    3
GORLA - PRECOTTO                                               1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
GRECO - SEGNANO                                                1
GUASTALLA                                                      1
ISOLA                                                          3
LAMBRATE - ORTICA                                              1
LODI - CORVETTO                                                1
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
MONCUCCO - SAN CRISTOFORO                                      1
MONLUE' - PONTE LAMBRO                                         1
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
PADOVA - TURRO - CRESCENZAGO                                   2
PAGANO                                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA GENOVA                                                   1
PORTA MAGENTA                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA TICINESE - CONCHETTA                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PTA ROMANA                                                     1
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
QT 8                                                           1
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
QUINTO ROMANO                                                  1
ROGOREDO - SANTA GIULIA                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
SAN SIRO                                                       1
SARPI                                                          2
SCALO ROMANA                                                   1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
STAZIONE CENTRALE - PONTE SEVESO                               1
TIBALDI                                                        2
UMBRIA - MOLISE - CALVAIRATE                                   1
VIGENTINO - Q.RE FATIMA                                        1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
XXII MARZO                                                     2
Name: Indirizzo, dtype: int64

20. visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL). Ordinare a partire dal NIL che ha piÃ¹ uffici in giÃ¹

In [ ]:
df.groupby("NIL")["Indirizzo"].count().sort_values(ascending =False)

NIL
DUOMO                                                          7
BRERA                                                          4
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
ISOLA                                                          3
GIAMBELLINO                                                    3
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
PADOVA - TURRO - CRESCENZAGO                                   2
FORZE ARMATE                                                   2
XXII MARZO                                                     2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
TIBALDI                                                        2
SARPI                                                          2
GORLA - PRECOTTO                                               1
GUASTALLA                                                      1
GRECO - SEGNANO                                                1
BANDE NERE                                                     1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
CITTA' STUDI                                                   1
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
FARINI                                                         1
BRUZZANO                                                       1
DERGANO                                                        1
DE ANGELI - MONTE ROSA                                         1
LAMBRATE - ORTICA                                              1
CORSICA                                                        1
BOVISASCA                                                      1
MONCUCCO - SAN CRISTOFORO                                      1
LODI - CORVETTO                                                1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
VIGENTINO - Q.RE FATIMA                                        1
UMBRIA - MOLISE - CALVAIRATE                                   1
STAZIONE CENTRALE - PONTE SEVESO                               1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
SCALO ROMANA                                                   1
SAN SIRO                                                       1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
ROGOREDO - SANTA GIULIA                                        1
QUINTO ROMANO                                                  1
QT 8                                                           1
PTA ROMANA                                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PORTA TICINESE - CONCHETTA                                     1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA MAGENTA                                                  1
PORTA GENOVA                                                   1
PORTA GARIBALDI - PORTA NUOVA                                  1
PAGANO                                                         1
MONLUE' - PONTE LAMBRO                                         1
ADRIANO                                                        1
Name: Indirizzo, dtype: int64

21. visualizzare i municipi che hanno piÃ¹ di 15 uffici postali

In [ ]:
df1 = df.groupby("MUNICIPIO").count()
df1[df1["Indirizzo"] >= 10]

           Indirizzo  Telefono  Fax  ...  LONG_X_4326  LAT_Y_4326  Location
MUNICIPIO                            ...
1                 14        13   13  ...           14          14        14
9                 13        12   12  ...           13          13        13

[2 rows x 9 columns]

22. visualizzare il municipio che ha piÃ¹ uffici postali

In [ ]:
df1 = df.groupby("MUNICIPIO").count()
df1[df1["Indirizzo"] == df1["Indirizzo"].max()]

           Indirizzo  Telefono  Fax  ...  LONG_X_4326  LAT_Y_4326  Location
MUNICIPIO                            ...
1                 14        13   13  ...           14          14        14

[1 rows x 9 columns]

23. visualizzare il municipio che ha meno uffici postali

In [ ]:
df1 = df.groupby("MUNICIPIO").count()
df1[df1["Indirizzo"] == df1["Indirizzo"].min()]

           Indirizzo  Telefono  Fax  ...  LONG_X_4326  LAT_Y_4326  Location
MUNICIPIO                            ...
3                  7         6    6  ...            7           7         7
4                  7         7    7  ...            7           7         7
5                  7         7    7  ...            7           7         7

[3 rows x 9 columns]

25. visualizzare gli uffici postali che hanno un numero di uffici postali superiore alla media

In [ ]:
media = df.groupby("MUNICIPIO")["Indirizzo"].count().mean()
df1[df1["Indirizzo"] > media]

           Indirizzo  Telefono  Fax  ...  LONG_X_4326  LAT_Y_4326  Location
MUNICIPIO                            ...
1                 14        13   13  ...           14          14        14
9                 13        12   12  ...           13          13        13

[2 rows x 9 columns]

26. eliminare tutti i record relativi al NIL di Niguarda

In [ ]:
df.drop(df[df["NIL"].str.contains("NIGUARDA")].index)

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

27. eliminare le ultime tre colonne

In [ ]:
df.drop(df.iloc[:,:3])

KeyError: ignored

28. eliminare i record di cui non si conosce il numero di telefono o il fax

In [ ]:
df.drop(df[(df["Fax"].isnull()) | (df["Telefono"].isnull())].index)

                               Indirizzo  ...                                Location
0              BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1            CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                         CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
4                       CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
5   LARGO GIOVANNI BATTISTA SCALABRINI 5  ...    (45.45039600000007;9.14118300000007)
..                                   ...  ...                                     ...
77                       VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78                VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79                   VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80                VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81                        VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[77 rows x 10 columns]

29. modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

In [ ]:
df["Telefono"].replace("02-69911111","02-69922222")

0      02-6572655
1     02-58320771
2       02-804336
3             NaN
4     02-76023056
         ...
77     02-8358241
78    02-32671911
79    02-58457911
80    02-41411311
81    02-69922222
Name: Telefono, Length: 82, dtype: object

30. sostituire il trattino presente nei numeri di telefono con il carattere /

In [ ]:
df["Telefono"].str.contains("-").replace("-","/")

KeyError: ignored