a. far inserire all'utente due valori interi

In [72]:
val1 = int(input("Inserire il primo valore = "))
val2 = int(input("Inserire il secondo valore valore = "))

Inserire il primo valore = 10
Inserire il secondo valore valore = 5

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [73]:
print(val1, "+", val2, "=", val1 + val2)
print(val1, "-", val2, "=", val1 - val2)
print(val1, "*", val2, "=", val1 * val2)
print(val1, "/", val2, "=", val1 / val2)

10 + 5 = 15
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [74]:
print(val1, "**", val2, "=", val1 ** val2)

10 ** 5 = 100000

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [75]:
print(val1, "%", val2, "=", val1 % val2)

10 % 5 = 0

f. effettuare la divisione intera tra il primo e il secondo numero

In [76]:
print(val1, "//", val2, "=", val1 // val2)

10 // 5 = 2

g. incrementare di una unità entrambi i numeri

In [ ]:
print(val1,"+", 1, "=", val1+1)
print(val2,"+", 1, "=", val2+1)

10 + 1 = 11
5 + 1 = 6

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
altezza = float(input("Inserire la propria altezza (m) = " ))
peso = float(input("Inserire il proprio peso (kg) = " ))
IMC = peso/(altezza**2)
print(IMC)

Inserire la propria altezza (m) = 1.80
Inserire il proprio peso (kg) = 75
23.148148148148145

i. arrotondare l'IMC precedente

In [ ]:
print(round(IMC))

23

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
print("Matteo-Porta-28/7/05-Milano")

Matteo-Porta-28/7/05-Cinisello Balsamo

k. visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
print("Matteo-Porta-28/7/05-Milano "*10)

Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo Matteo-Porta-28/7/05-Cinisello Balsamo

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
nomeCognome = "matteo porta"
print(nomeCognome.upper())

MATTEO PORTA

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [1]:
nomeCognome = "matteo porta"
print(nomeCognome.title())

Matteo Porta

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [4]:
nomeCognome = "matteo porta"
print(nomeCognome,len(nomeCognome))

Matteo  Porta 13

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [16]:
nomeCognome = "matteo porta"
print(nomeCognome.count("a") + nomeCognome.count("e") + nomeCognome.count("i")+ nomeCognome.count("o") + nomeCognome.count("u") )

5

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [39]:
nomeCognome = "matteo porta"
print(nomeCognome[0:5])

matte

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [46]:
nomeCognome = "matteo porta"
print(nomeCognome[7:12])

porta

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [51]:
nomeCognome = "matteo porta"
print(nomeCognome[4:9])

eo po

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [67]:
nomeCognome = "matteo porta"
print(nomeCognome.replace("a" , "X").replace("e","X").replace("i","X").replace("o","X").replace("u","X") )

mXttXX pXrtX